.body{
  margin: 0;
  background-image: url(../../../assets/img/fondo.jpg);
  height:100%;
}
h1{
  font-size: 2em;
  letter-spacing: 1
}
.Constructionconteiner {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height:100%;
}

.logoHome {
  width: 20%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 40%;
}
.logoHome img {
  width: 100%;
  height: auto;
}
.textTopConteiner{
  width: 30%;
  position: absolute;
  top: 2%;
  left: 0%;
}
.textLocationConteiner{
  position: absolute;
  bottom: 5%;
  left: -2%;
  padding: 0;
  writing-mode: tb-rl;
  transform: rotate(-180deg);

}
.textLocationConteiner img{
  height: 1.5em;
}
.textContacContainer{
  position: absolute;
  bottom: 2%;
  right: 0%;
}
.Constructionconteiner p{
  font-size: 1.5em;
}
.Constructionconteiner a{text-decoration: none;
color: #1f1b0e ;}
.Constructionconteiner a:hover{
  color: #F1EFE9 ;
}

#timer {
position: absolute;
  bottom: 22%;
 left: 30%;
	font-size: 3em;
	font-weight: bold;
  width: 40%;
  text-align: center;
}

#timer div {
	display: inline-block;
	min-width: 90px;

}
#timer div span {

	display: block;
	margin-top: 15px;
	font-size: .35em;
	font-weight: 400;
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 2) { */
 
  @media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

  .logoHome {
    width: 22%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 39%;
  }

  #timer {
    position: absolute;
      bottom: 24%;
     left: 30%;
      font-size: 3em;
      font-weight: bold;
      width: 40%;
      text-align: center;
    }
}}

@media only screen and (max-width: 600px) {
  

  .Constructionconteiner p{
    font-size:1em;
  }

  .logoHome {
    width: 70%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 15%;
  }

  #timer {
    position: absolute;
      bottom: 15%;
      left: 0%;
      font-size: 2em;
      font-weight: bold;
      width: 100%;
      text-align: center;

    }

    #timer div {
      display: inline-block;
      min-width: 60px;

    }
    #timer div span {
      display: block;
      margin-top: 15px;
      font-size: 0.5em;
      font-weight: 400;
    }


    .textTopConteiner{
      width: 100%;
      position: absolute;
      top: 1%;
      left: 0%;
    }

    .textLocationConteiner{
      position: absolute;
      bottom: 5%;
      left: -4%;
      padding: 0;
      writing-mode: tb-rl;
        transform: rotate(-180deg);
      font-size:1em ;
    }


}



