<div class="body">
<div class="Constructionconteiner">
  <div class="logoHome">
    <img src="assets\img\homeLogo.jpg">
  </div>
  <div class="triangulo"></div>
  <div class="textTopConteiner">

    <p>
      Obras Civiles & Movimiento de Suelos</p>
  </div>
  <div class="textLocationConteiner">
    <p> <a href="https://goo.gl/maps/FX4LPJW9bPcpxHr39" target="_blank"><mat-icon>location_on</mat-icon> La Plata, Buenos Aires, Argentina </a>  </p>
  </div>
  <div class="textContacContainer">
    <p> <a href="mailto:hola@black-bullock.com">hola@black-bullock.com</a></p>

  </div>


</div>
</div>
