.contenedor {
  width: 100%;
  height: 78vh;
  position: relative;
  font-family: 'Archivo', sans-serif;
}

.contenedor video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

.serviciosLogo {
  position: absolute;
  top: 48vw;
  left: 2vw;
  padding: 0;
  z-index: 100

}

.serviciosLogo img {
  height: 12vh;
}

.cuerpo {
  top: 40vw;
  position: absolute;
  background-color: #161616;
  height: 100vh;
  width: 100%;

}

.elementos {
  top: -5vw;
  left: 10vw;
  width: 80vw;
  position: absolute;
  padding: 2vh 10vw 5vh 10vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.elementos::before{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 2vw solid #161616;
  border-left:2vw solid white;;


  }

.elem {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


}

hr {
  width: 100%;
  height: 0.2vw;
  opacity: 1;
}

.elem h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  align-items: center;

}


.elem p {
  padding-top: 1vw;
  display: flex;
  font-size: 1vw;
  font-family: 'Archivo', sans-serif;
  font-weight: 200;

  height: 100%;
  align-items: flex-start;

}

.elem_icono {
  width: 8%;
  margin: auto;
}

.elem_icono img {
  width: 100%;
}
