<div class="contenedor">
  <div class="video">
    <video [muted]="true" autoplay loop>
      <source src="assets/img/DJI_0059.webm" type="video/webm" />
      Tu navegador no soporta HTML5 video.
    </video>
  </div>
  <div class="serviciosLogo">
    <img src="assets\img2\img bbk web pcMesa de trabajo 7.svg" />
  </div>
  <div class="cuerpo">
    <div class="elementos">
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #ffca02" />
          <h2>
            Obras Civiles & <br />
            Movimiento de Suelos
          </h2>
        </div>
        <p >
          Nuestro servicio de construcción y movimiento de suelos implica
          actividades de construcción y movimiento de tierra que se realizan en
          terrenos con el fin de prepararlos para la construcción de
          edificaciones, infraestructuras y otros proyectos de ingeniería. Este
          servicio incluye una amplia variedad de trabajos como excavación,
          nivelación de terrenos, compactación de suelos, plateas, construcción
          de muros de contención, desmontes de tierra y forestales, pavimentos,
          zanjeo para gasoductos y acueductos, entre otros.
        </p>
      </div>
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #829c75" />
          <h2 style="padding: 0.7em 0px;">Desarrollo Urbanístico</h2>
        </div>
        <p >
          El servicio de Desarrollo Urbanístico se enfoca en crear barrios
          abiertos y cerrados que se destaquen por su calidad y los servicios
          que ofrecen a los residentes. Para lograr esto, se llevan a cabo
          diversas obras de infraestructura, como la instalación de redes de
          cloacas, agua y baja tensión, así como la apertura de calles y la
          realización de trabajos de estabilización del terreno.
        </p>
      </div>
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #a1a6ac" />
          <h2>Ingeniería<br />Proyecto y Desarrollo</h2>
        </div>
        <p>
          Brindamos soluciones técnicas para la realización de proyectos de
          ingeniería en diferentes áreas, incluyendo desarrollo de proyectos
          urbanísticos, viales, de red de agua y cloaca, y la elaboración de
          cálculos estructurales para viviendas unifamiliares y multifamiliares,
          donde se lleva a cabo un análisis detallado de las cargas que
          soportará la estructura, así como de las características del suelo y
          de los materiales a utilizar en la construcción. De esta manera, se
          garantiza la estabilidad y seguridad de la edificación.
        </p>
      </div>
    </div>
  </div>
</div>
