<div class="body">
<div class="Constructionconteiner">
  <div class="logoHome">
    <img src="assets\img\logo.svg">

  </div>
 <div class="textTopConteiner">

    <h1>
      Obras Civiles & <br> movimientos de Suelos</h1>
  </div>
  <div class="textLocationConteiner">
    <p>  <img src="assets\img\location.svg"> La Plata | BA | Argentina   </p>
  </div>
  <div class="textContacContainer">
    <p> <a href="mailto:hola@black-bullock.com">hola@black-bullock.com</a></p>
  </div>

  <div id="timer">
    <div>{{ time.days }} <span>Días</span></div>
    <div>{{ time.hours }}<span>Horas</span></div>
    <div>{{ time.minutes }}<span>Minutos</span></div>
    <div>{{ time.seconds }}<span>Segundos</span></div>
  </div>




</div>
</div>
