<div class="contenedor">
  <div class="menu"></div>
  <div class="caratula">
    <div class="logo">
      <img src="assets\img2\logoHome.svg" />
    </div>
    <div class="social">
      <div class="imagenes">
        <a><img src="assets\img2\img bbk web pcMesa de trabajo 4.svg" /></a>
        <a><img src="assets\img2\img bbk web pcMesa de trabajo 6.svg" /></a>
      </div>

      <a href="mailto:hola@black-bullock.com.ar"> hola@black-bullock.com.ar</a>
    </div>
    <div class="ubicacion">
      <p>
        <img src="assets\img\location.svg" /> La Plata | Buenos Aires |
        Argentina
      </p>
    </div>
  </div>
  <div class="barra_logos">
    <div class="minologo">
      <img src="assets\img2\img bbk web pcMesa de trabajo 10.svg" />
      <p>Obras Civiles & Movimiento de Suelos</p>
    </div>
    <div class="minologo">
         <img src="assets\img2\img bbk web pcMesa de trabajo 11.svg" />
      <p>Ingenieria</p>
    </div>
    <div class="minologo">
        <img src="assets\img2\img bbk web pcMesa de trabajo 12.svg" />
      <p>Desarollo Urbanistico</p>
    </div>
  </div>

</div>
