<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu"  fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon> </button>
    <mat-menu #menu="matMenu"  fxFlexFill>
      <a mat-menu-item class="navlink" href="#service" >Services</a>
      <a mat-menu-item class="navlink" href="#aboutUs" >About us</a>
      <a mat-menu-item class="navlink" href="#contact" >Contact</a>
    </mat-menu>
    <div class="titulo">

      <a class="navlink" href="#home">
        <h1>BLACK-BULLOK</h1>
      </a>
    </div>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a class="navlink" href="#service" mat-button>Services</a>
      <a class="navlink" href="#aboutUs" mat-button>About us</a>
      <a class="navlink" href="#contact" mat-button>Contact</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>







