.menu-spacer {
  flex: 1 1 auto;
}
.navbar{
  position: fixed;
  z-index: 100;
  width: 100%;
}

mat-sidenav-content {
  margin-top: 3vh;
}
h1{
  font-family: Karantina;
  font-weight: bolder;
  font-size: 2em;
}
.navlink{
  font-size: 1em;
}
.navbar mat-icon{
  font-size: 3em;

}

.titulo a{
  text-decoration: none;
  color: #241d15;
}
.titulo :hover{
  text-decoration: none;
  color: #241d15;
}
@media screen and  (max-width: 960px){

  .titulo{
    width: 100%;
    text-align: right;
  }
}
