<div class="contenedor" id="scrollDiv">
  <div class="video">
    <video class="videoDT" [muted]="true" autoplay loop >
      <source
        class="videoDT"
        src="assets/bbk capsula web comprimido.mp4"
        type="video/mp4"
      />
      Tu navegador no soporta HTML5 video.
    </video>
    <video class="videoMB" [muted]="true" autoplay loop>
      <source
        src="assets/Capsula Bbk Web Mobile comprimido.mp4"
        type="video/mp4"
      />
      Tu navegador no soporta HTML5 video.
    </video>
  </div>
  <div class="serviciosLogo" >
    <img id="serviciosLogo" src="assets\img2\img bbk web pcMesa de trabajo 7.svg" />

  </div>
   <div class="serviciosLogo" ><img id="serviciosLogo2"src="assets\img2\img bbk web pcMesa de trabajo 7b.svg" />
</div>
  <div class="cuerpo">
    <div id="Servicios"></div>
    <div class="elementos" id="elementos">
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #ffca02" />
          <h2>
            Obras Civiles & <br />
            Movimiento de Suelos
          </h2>
        </div>
        <p>
          Nuestro servicio implica actividades de construcción y movimiento de
          suelos que se realizan en terrenos con el fin de prepararlos para el
          fin deseado; edificaciones, infraestructuras y otros proyectos de
          ingeniería.<br />
          Incluimos una amplia variedad de trabajos como excavación, nivelación
          de terrenos, compactación de suelos, plateas, construcción de muros de
          contención, desmontes de tierra y forestales, zanjeo para gasoductos y
          acueductos, entre otros.
        </p>
      </div>
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #829c75" />
          <h2>Desarrollo Urbanístico<br />Infraestructura</h2>
        </div>
        <p>
          El servicio de Desarrollo Urbanístico se enfoca en crear barrios
          abiertos y cerrados que se destaquen por su calidad y los servicios
          que ofrecen a los residentes. Para lograr esto, se llevan a cabo
          diversas obras de infraestructura, como la instalación de redes de
          cloacas, agua, tendido de señales débiles, red de baja tensión y media
          tensión, así como pavimentación, apertura de calles, entre otros.
        </p>
      </div>
      <div class="elem">
        <div class="titulo">
          <div class="elem_icono">
            <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
          </div>
          <hr style="background-color: #a1a6ac" />
          <h2>Ingeniería<br />Proyecto y Desarrollo</h2>
        </div>
        <p>
          Brindamos soluciones técnicas para la realización de proyectos de
          ingeniería en diferentes áreas, incluyendo desarrollo de proyectos
          urbanísticos, viales, de red de agua y cloaca, y la elaboración de
          cálculos estructurales para viviendas unifamiliares y multifamiliares,
          naves industriales, estructuras metálicas, verificación diversas de
          elementos resistentes donde se lleva a cabo un análisis detallado de
          las cargas que soportará la estructura, así como de las
          características del suelo y de los materiales a utilizar en la
          construcción. De esta manera, se garantiza la estabilidad y seguridad
          de la edificación.
        </p>
      </div>
    </div>
  </div>

</div>

<div
  class="elementosMB"
  id="elementos"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div id="Servicio"></div>

  <div class="elem primero" data-aos="fade-up" data-aos-duration="500">
    <div class="titulo">
      <div class="elem_icono primero">
        <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
        <div class="iconMB">
          <img src="assets\mobile\img bbk web mobileMesa de trabajo 28.svg" />
        </div>
      </div>
      <hr style="background-color: #ffca02" />
      <h2>
        Obras Civiles & <br />
        Movimiento de Suelos
      </h2>
    </div>
    <p>
      Nuestro servicio implica actividades de construcción y movimiento de
      suelos que se realizan en terrenos con el fin de prepararlos para el fin
      deseado; edificaciones, infraestructuras y otros proyectos de
      ingeniería.<br />
      Incluimos una amplia variedad de trabajos como excavación, nivelación de
      terrenos, compactación de suelos, plateas, construcción de muros de
      contención, desmontes de tierra y forestales, zanjeo para gasoductos y
      acueductos, entre otros.
    </p>
  </div>
  <div class="elem primero" data-aos="fade-up" data-aos-duration="500">
    <div class="titulo">
      <div class="elem_icono">
        <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
        <div class="iconMB">
          <img
            src="assets\mobile\img bbk web mobileMesa de trabajo 29.svg"
            alt=""
          />
        </div>
      </div>
      <hr style="background-color: #829c75" />
      <h2>Desarrollo Urbanístico<br />Infraestructura</h2>
    </div>
    <p>
      El servicio de Desarrollo Urbanístico se enfoca en crear barrios abiertos
      y cerrados que se destaquen por su calidad y los servicios que ofrecen a
      los residentes. Para lograr esto, se llevan a cabo diversas obras de
      infraestructura, como la instalación de redes de cloacas, agua, tendido de
      señales débiles, red de baja tensión y media tensión, así como
      pavimentación, apertura de calles, entre otros.
    </p>
  </div>
  <div class="elem primero" data-aos="fade-up" data-aos-duration="500">
    <div class="titulo">
      <div class="elem_icono">
        <img src="assets\img2\img bbk web pcMesa de trabajo 13.svg" />
        <div class="iconMB">
          <img
            src="assets\mobile\img bbk web mobileMesa de trabajo 30.svg"
            alt=""
          />
        </div>
      </div>
      <hr style="background-color: #a1a6ac" />
      <h2>Ingeniería<br />Proyecto y Desarrollo</h2>
    </div>
    <p>
      Brindamos soluciones técnicas para la realización de proyectos de
      ingeniería en diferentes áreas, incluyendo desarrollo de proyectos
      urbanísticos, viales, de red de agua y cloaca, y la elaboración de
      cálculos estructurales para viviendas unifamiliares y multifamiliares,
      naves industriales, estructuras metálicas, verificación diversas de
      elementos resistentes donde se lleva a cabo un análisis detallado de las
      cargas que soportará la estructura, así como de las características del
      suelo y de los materiales a utilizar en la construcción. De esta manera,
      se garantiza la estabilidad y seguridad de la edificación.
    </p>
  </div>
</div>

<button
  data-aos="fade-up"
  mat-mini-fab
  id="arriba"
  color="primary"
  class="arriba"
>
  <a href="#home">
    <mat-icon>arrow_upward</mat-icon>
  </a>
</button>
