<div class="contenedor">

  <div class="nosotros">

    <div class="nosotrosLogo" data-aos="fade-right" data-aos-duration="700">
      <img src="assets\img2\img bbk web pcMesa de trabajo 8.svg" />
    </div>
    <div id="Nosotros"></div>

    <div class="contenido" >
      <div data-aos="fade-down"  data-aos-duration="1000">
      <img  src="assets\img2\img bbk web pcMesa de trabajo 14.svg" />
      <h1 > BLACK-BULLOCK</h1>
      </div>
      <h3 data-aos="fade-up"  data-aos-duration="1000">
        Somos Black-Bullock, una empresa joven y dinámica especializada en
        servicios de construcción, ingeniería y desarrollo urbano.
      </h3>
      <p data-aos="fade-up"  data-aos-duration="1500">
        Nos enfocamos en brindar un servicio personalizado, soluciones
        innovadoras y de alta calidad para satisfacer las necesidades de
        nuestros clientes. En Black Bullock contamos con profesionales altamente
        capacitados para asegurar la calidad y seguridad de los proyectos en
        cada etapa de su desarrollo.
      </p>
      <p data-aos="fade-up"   data-aos-duration="2000">
        ¿Querés cotizar tu proyecto?
        <span><a href="#Contactanos">Contactanos.</a></span
        ><img   src="assets\img2\img bbk web pcMesa de trabajo 15.svg" />
      </p>
    </div>
    <img   class="mapa" data-aos="fade-up"  data-aos-duration="1500"src="assets\img2\img bbk web pcMesa de trabajo 21.svg" />
  </div>
</div>
